body {
  background-image: url("https://images.wallpaperscraft.com/image/headphones_vinyl_records_collection_114009_4912x3264.jpg");
  position: center;
  background-size: cover;
}


.VoxFindr {
  background-color: brown;
  color: white;
  font-size: 40px;
  position: absolute;
  left: 20px;
  font-family: 'Press Start 2P', cursive;

}

.lyrics {
  background: linear-gradient(#472F36, #9D352C, #472F36);
  border-radius: 25px;
  opacity: .95;
  position: relative;
  left: 55%;
  margin-left: -250px;
  padding: 10px;
  top: 150px;
  width: 400px;
  text-align: center;
}

.Results {
  width: 500px;
  background: linear-gradient(#472F36, #9D352C, #472F36); 
  border-radius: 25px;
  opacity: .95; 
  position: absolute;
  top: 125px;
  left: 50%;
  margin-left: -250px;
  padding: 15px;
  padding-top: 2px;
  font-family: 'Exo', sans-serif;
}

a {
  text-decoration: none;
  color:rgba(122, 208, 236, 0.89);
}

h3 {
  color: white;
  font-family: 'Audiowide', cursive;
}

text {
  color: white;
  font-size: 12px;
  margin: 20px;
  font-family: 'Exo', sans-serif;
  padding-bottom: 30px;
}

#logo {
  height: 100px;
  width: 100px;
}